# Git config
.gitconfig

# History files
.lesshst

# Local directories
.local/
.npm/
.env/
venv/
__pycache__/
*.pyc

# Build artifacts and dependencies
/FLAMEGPU2/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
