SUPERSET_IMAGE_TAG=latest
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=change_this_secret_key_for_local

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Local
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=admin

POSTGRES_DB=superset
POSTGRES_USER=superset
POSTGRES_PASSWORD=superset

BOOTSTRAP_DATASOURCE=1
SUPERSET_CH_DATABASE_NAME=clickhouse_default

CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change_me
CLICKHOUSE_SECURE=0

CHECK_TABLE=sim_masterv2_v9
CHECK_VERSION_IDS=1,2
CHECK_GROUP_BY=1,2
SUPERSET_IMAGE_TAG=latest
SUPERSET_GIT_REF=
SUPERSET_PLUGIN_IMAGE=local/superset-echarts6:latest
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=change_this_secret_key_for_local

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Local
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=admin

POSTGRES_DB=superset
POSTGRES_USER=superset
POSTGRES_PASSWORD=superset

BOOTSTRAP_DATASOURCE=1
SUPERSET_CH_DATABASE_NAME=clickhouse_default

CLICKHOUSE_HOST=10.95.19.132
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change_me
CLICKHOUSE_SECURE=0

CHECK_TABLE=sim_masterv2_v9
CHECK_VERSION_IDS=1,2
CHECK_GROUP_BY=1,2
